<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>

<body class="body" th:object="${currentUser}">

<!-- Sidebar -->
<div id = "sidebar" class="w3-sidebar w3-bar-block" style="width:18%" th:fragment="projectSidebar">	
	<div class="w3-card-4" style="background-color:white"><br>
   		<div class= "menu">Menu</div>
		<div class="w3-container">
			<div class="li">
			<a id="newTask" class ="w3-bar-item w3-button w3-hover-shadow w3-hover-white">
			<i style="margin-right:10px" class="fa fa-plus-square"></i>Create Task
			</a>
			</div>
			<div th:insert="fragments/base.html :: sharedMenu"></div>
			</div>
			</div>
			<br>
			<div th:insert="fragments/base.html :: details"></div>
			<div th:insert="fragments/base.html :: logout"></div>
		
</div>




</body>
</html>