:root {
	--rosa: #EA4C88;
	--acquamarine:#7FFFD4;
	--bodyGray: #2c3338;
	--newGray: #293241;
	--welcomeBlue: #B7ADCF;
	--lightBlue:#87bcde;
	}

.body {
  background-color:#2c3338;#1E1E24;
  font-family: 'Raleway';
}

.pageTitle {
	font-weight: 600;
	font-size:50px;
	text-align: center;
	padding:2% 0 0 0;
	font-family: 'Raleway';
	color: #D4F5F5;white;var(--acquamarine);
}


a:hover, a:active {
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

#sidebar {
  background-color: var(--rosa);
  color: black;
  font-weight: 600;
  font-family: 'Raleway';
  max-height:auto;
  max-weight:auto;
  border: 2px solid white;
}

#desc {
  font-size:20px; 
  font-family: 'Raleway';
  color: var(--bodyGray);
  font-weight: 200;
  max-width:auto;
  max-height:auto;
  width:auto;
  height:auto;

}


.menu {
  font-size:40px;
  font-weight:700;
  text-align: center;
  color: #ea4c88;

}

.username {
  font-size:50px;
  font-weight:900;
  text-align: center;
  font-family: 'Raleway';
  margin-bottom:10px;
  color:var(--acquamarine);
}

#logoutCard {
  background-color: white;
  max-height:auto;
  width:auto;
  height:auto;
}

h4 {
font-weight:500;
color:white;
font-family:'Raleway';
}


.titleProject {
  font-size:30px;
  font-weight:700;
  font-family: 'Raleway';
  color: #D4F5F5;black;#FFF9FB;
  }

.li {
margin-top:30px;
font-size:20px;
}


.details {
  margin-top:32px;
  text-align: center;
  max-width:auto;
  max-height:auto;
}

#cardBody {
	width:400px;
	max-width:auto;
    max-height:auto;
    background-color:#FFF9FB;
    border-radius: 0 0 10% 10%;
    
}

#gridElem{
	margin-top:10%;
	border: 2px solid #D4F5F5;
	border-radius: 0 0 5% 5%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  margin-left:23%;
  margin-right:23%;

}

#cardHeader {
	background-color:var(--rosa);
}