<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/popupFormCSS.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>

<body class="body" th:object="${currentCredentials}">
<div th:insert="fragments/base.html :: sidebar"></div>
<div style="margin-left:20%">
<h3 th:text ="*{username}"></h3>
<div>
	<button class="open-button" onclick="openForm()">Edit</button>
		<div class="form-popup" id="myForm"> 
  		<form th:action="@{'/editDetails'}" method = "POST" class="form-container">
   			<h1>Edit your account details</h1>
    		<label for="username"><b>Change your Username</b></label>
    		<input type="text" placeholder="Enter a new username" th:name="username" required>
    		<label for="password"><b>Change your Password</b></label>
    		<input type="text" placeholder="Enter a new password" th:name="password" required>

    		<button type="submit" class="btn">Submit</button>
    		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  		</form>
  		</div>
 

 </div>
 
 <h4 th:if="${changed}">Details updated!</h4>
</div>


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

</body>



</html>