<!-- WELCOME! -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/welcomeCSS.css}" rel="stylesheet">
	<title>Tudù Welcome</title>
</head>

<body>
	<header>
		<h1>Welcome in <span class="tud">Tudù</span></h1>
	</header>

	<div class="paragraph">
		<article>
		<h4>Organize your Projects in a centralized-way</h4>
		<hr>
		
		<div class="menu">
			<p>Share Projects with others</p>
			<p>Manage Projects with multiple Tasks</p>
			<p>Organize different type of Projects with Tags and Priority</p>
		</div>

		<div class="botH4">
		<hr>
		<h4>Keep track of your work with <span class="tud">Tudù</span> task	manager!</h4>
		</div>
		</article>
	</div>

	<div class="buttons">
		<a th:href="@{/login}">Login</a> <span></span> <a th:href="@{/signUp}">Sign Up</a>
	</div>
</body>



<!-- base -->

<!--  vedi dati FakeUtente owner-->
<!--  modifica dati FakeUtente u1 -> datiUtente.html -->
<!--  vedi progetti FakeUtente u1 -> progetto.html -->
<!--  crea progetto per FakeUtente u1 -->
<!--  elimina progetto -->
<!--  modifica progetto -> progetto.html -->

<!--  vedi progetti condivisi con me  -->