<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<link rel=stylesheet th:href="@{/css/loginCSS.css}">
<title>Tudù</title>
</head>

<body class="align">
	<h1 th:if="${registrationCompleted}" style="color:#7FFFD4">Registration completed! Log in and start manage your Projects!</h1>
	<header>
		<strong style="color: #7FFFD4"> Tudù </strong>
	</header>
	
	<div class="grid">
		<form th:action="@{/login}" class="form login" method = "POST">
			<div class="form__field">
				<label for="login__username"> <i class="fa fa-user" style="color: #B7ADCF"></i></label> 
				<input id="login__username" type="text" name="usernameParameter" class="form__input" placeholder="Username" required>
			</div>

			<div class="form__field">
				<label for="login__password"><i class="fa fa-lock" style="color: #B7ADCF"></i></label> 
				<input id="login__password" type="password" name="passwordParameter" class="form__input" placeholder="Password" required>
			</div>

			<div class="form__field">
				<input type="submit" value="Sign In">
			</div>
		</form>
	</div>

	<p class="text--center">
		Not a member? <a th:href="@{/signUp}" style="color: #B7ADCF">Sign up now</a>
	</p>


</body>