<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	
	<link rel="stylesheet" th:href="@{/css/popupFormCSS.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
	<link rel="stylesheet" th:href="@{/css/modalForm.css}">
</head>

<style>
h5 {
	color: var(--acquamarine);
	margin-left:23%;
}

#dropDownMembers {
	width:270px;
}

#new {
	background-color: #D4F5F5;var(--acquamarine);
	font-family: Lato,Helvetica;
	font-size:30px;
	font-weight: 550;
	color: var(--bodygray);white;black;
	border: 3px solid var(--acquamarine);
}

</style>

<body class="body">
<div th:insert="fragments/base.html :: sidebar"></div>

	<header style="margin-left:18%">
		<h1 class="pageTitle"> Your Projects </h1>
				
		<div  class="w3-center" style="margin-top:35px">
			<a id="myBtn">
			<button id="new" class="w3-btn w3-round-xxlarge w3-large w3-hover-shadow">+</button></a>
		</div>
			<div id="myModal" class="modal">
  				<div class="modal-content">
    			<div class="modal-header">
     				 <h2>New Project</h2>
      				<span class="close">&times;</span>
    			</div>
    			
    			<div class="modal-body" th:object="${newProject}">
    			<div class="form-popup-new">
					<form  id="newProjectForm" th:action="@{/saveProject}" method = "POST" class="form-container-new">				
						<label class="formLabel"><b>Your new project Name</b></label>
						<br>
           				<input class="w3-round" type="text" placeholder="Enter project name" name="projectName" th:field="*{name}" required >
           				<br>
            			<hr style="border-color:#D4F5F5">
            			<div style="margin-top:40px">
            			<label class="formLabel" ><b>Project description - has to be less than 252 characters</b></label>
						<br>
           			 	<input id="descInput"class="w3-round" type="text" placeholder="Enter project description" name="projectDescription" th:field="*{description}" required>
           				<br>
            			</div>
        				<br><br>
						<div class="w3-center">
        				<button type="submit" class="btn w3-hover-shadow w3-pink w3-xlarge w3-round">Create</button>
        				</div>
					</form>					
				</div>
   			 	</div>
    			
  				</div>
  			</div>
		
		
	</header>
	
	<h5>
		<span th:if="${added}" th:text="${added}" ></span>
		<span th:if="${couldNotAdd}" th:text="${couldNotAdd}" ></span>
	</h5>
	
	
	<div class="wrapper">
	<div th:each="project  : ${projects}">
	 	<div id="gridElem" class="card text-left">
			<div id="cardHeader" class="card-header">
				<a class ="titleProject  w3-hover-none" 
				th:href="@{'/projectPage' + '/' + ${project.id}}"
				th:text="${project.name}">Serra Automatica</a>
				
				<div class="btn w3-right" > 
				<a class="btn btn-danger w3-black w3-hover-shadow w3-small" th:href="@{'/deleteProject' + '/' + ${project.id}}"> 
				<i class="fa fa-trash-o fa-lg"></i>
				</a>
				</div>
 		
				<ul class="nav nav-pills card-header-pills">
				<li class="btn"> 
						<a class="nav-link w3-pale-blue w3-small w3-hover-shadow" th:onclick="openForm('[(${projectStat.index})]')"> 
						<i class="fa fa-user-plus"></i>Invite</a>
						
						<div class="form-popup">
							<form  th:action="@{'/addMember' + '/' + ${project.id}}" method = "POST" class="form-container">
						
								<h1 style="font-family:'Raleway'">Add Members</h1>
								<label for="email"><b>Insert Member Username</b></label>
								<input type="text" placeholder="Enter Username" th:name="memberUsername" required>

								<button type="submit" class="btn w3-small w3-hover-shadow w3-pink">Add</button>
								<button type="button" class="btn cancel w3-small w3-hover-shadow w3-black" th:onclick="closeForm('[(${projectStat.index})]')">Close</button>	
							</form>
						
						</div>
					</li>
					
					<li class="btn w3-dropdown-hover"> 
					<a class="nav-link w3-sand w3-small w3-hover-shadow"> <i class="fa fa-users"></i> Members</a>
						<div id="dropDownMembers" class="w3-dropdown-content w3-bar-block" >
						<div th:each="member : ${project.members}">
							<div class="w3-bar w3-white">
							<div class="w3-bar-item">
							<span th:text="|${member.name} ${member.surname}|"></span>
							<div class="btn btn-danger w3-tiny w3-right"><a th:href="@{/kickMember/{memberId}/from/{projectId} (memberId=${member.id},projectId=${project.id})}" style="color:white">Kick</a></div>
							</div>
							
							
							
							</div>
						</div>
   						 </div>
					</li>
				</ul>
			</div>
  
			<div id="cardBody" class="card-body">
				<p id = "desc" class="card-text" 
				th:text="${project.description}">
				</p>
				<br>
				<ul class="nav nav-pills card-header-pills w3-right">
				<li class="btn"> <a class="nav-link w3-tiny w3-hover-shadow w3-pale-red w3-round"> <i class="fa fa-tags"></i> Add</a></li>

				</ul>
				
			</div>
		</div>
	</div>
	
</div>


<script th:inline="javascript">


function openForm(project) {
 var forms = document.getElementsByClassName("form-popup");
 forms[Number(project)].style.display = "block";
}

function closeForm(project) {
  var forms = document.getElementsByClassName("form-popup");
  forms[Number(project)].style.display = "none";
}


//Get the modal
var modal = document.getElementById("myModal");

//Get the button that opens the modal
var btn = document.getElementById("myBtn");

//Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

//When the user clicks the button, open the modal 
btn.onclick = function() {
modal.style.display = "block";
}

//When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}

//When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
 modal.style.display = "none";
}
}
</script>




</body>
</html>