<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>

<body class="body" th:object="${currentUser}">

<div th:insert="fragments/base.html :: sidebar"></div>

<div style="margin-left:20%">

</div>





<!--content 

<div style="margin-left:20%">

<div class="row">

<div class="column">
	<div id="boxProj" class="card text-left ">
		<div  class="card-header">
			<a class ="titleProject  w3-hover-none" href="#">Serra Automatica</a>
			
			<div class="btn w3-right" > <a class="btn btn-danger" href="#"> <i class="fa fa-trash-o fa-lg"></i></a></div>
 
			<ul class="nav nav-pills card-header-pills">
				<li class="btn"> <a class="nav-link" href="#"> <i class="fa fa-tags"></i> Add Tag</a></li>
				<li class="btn"> <a class="nav-link" href="#"> <i class="fa fa-user-plus "></i> Invita</a> </li>
			</ul>
		</div>
  
	<div id="boxDesc"class="card-body">
		<p id = "desc" class="card-text">Progetto per una serra realizzata con IoT </p>
		<br>
		<span class="w3-tag w3-small w3-left w3-indigo" style="margin-right:10px">Home</span>
		<span class="w3-tag w3-small w3-left w3-green" style="margin-right:10px">Tech</span>
		<span class="w3-tag w3-small w3-left w3-pink" style="margin-right:10px">Fun</span>
	</div>
	
	</div>

</div>

<div class="column">
	<div id="boxProj" class="card text-left ">
		<div  class="card-header">
			<a class ="titleProject  w3-hover-none" href="#">Serra Automatica</a>
			
			<div class="btn w3-right" > <a class="btn btn-danger" href="#"> <i class="fa fa-trash-o fa-lg"></i></a></div>
 
			<ul class="nav nav-pills card-header-pills">
				<li class="btn"> <a class="nav-link" href="#"> <i class="fa fa-tags"></i> Add Tag</a></li>
				<li class="btn"> <a class="nav-link" href="#"> <i class="fa fa-user-plus "></i> Invita</a> </li>
			</ul>
		</div>
  
	<div id="boxDesc"class="card-body">
		<p id = "desc" class="card-text">Progetto per una serra realizzata con IoT </p>
		<br>
		<span class="w3-tag w3-small w3-left w3-indigo" style="margin-right:10px">Home</span>
		<span class="w3-tag w3-small w3-left w3-green" style="margin-right:10px">Tech</span>
		<span class="w3-tag w3-small w3-left w3-pink" style="margin-right:10px">Fun</span>
	</div>
	
	</div>

</div>


</div>
 	
	
	
 	-->

</body>
</html>