
<!-- this view is temporary, all actions on tasks are in project.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/popupFormCSS.css}">
</head>

<!-- we could need this.Task.project info, actually setted EAGER in task -->
<body th:object="${thisTask}"> 
	<div>
	<div>
	<h5>Is completed: <span th:text="*{isCompleted}"></span></h5>
	<a th:href="@{'/setCompleted/' + ${thisTask.id}}"><button>Set completed</button></a>
	</div>
	Task:<span th:text="*{name}"></span> 
	</div>
	Description:<div><span th:text="*{description}"></span></div> 
	
	<div th:if="${currentUser} == ${thisTask.project.owner}">
	<button class="open-button" onclick="openForm()">Edit</button>
		<div class="form-popup" id="myForm"> <!-- tryin to pass the entire proj -->
  		<form th:action="@{'/editTask' + '/' + ${thisTask.id}}" method = "POST" class="form-container">
   			<h1>Edit task details</h1>
    		<label for="taskName"><b>Edit Name</b></label>
    		<input type="text" placeholder="Enter a new name" th:name="taskName" required>
    		<label for="taskName"><b>Edit Description</b></label>
    		<input type="text" placeholder="Enter Task Name" th:name="taskDescription" required>

    		<button type="submit" class="btn">Edit</button>
    		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  		</form>
  		</div>
	
	</div>
	
	


	

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

</body>

</html>