<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>

<body class="body">
<div th:insert="fragments/base.html :: sidebar"></div>
<div style="margin-left:20%">
<div th:text="${currentUser.name}"></div>
<div>

<ul> <!-- go to visibleProjectPage instead -->
	<li th:each="project : ${visibleProjects}">
	<div>
	<a th:href="@{'/visibleProjectPage' + '/' + ${project.id}}" th:text="|${project.name}: ${project.description}|"></a>
	</div>
	</li>
</ul>
</div>
</div>
</body>