<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/popupFormCSS.css}">
</head>

<body th:object="${thisProject}">

<div th:text="*{name}">:  </div> <span th:text="*{description}"></span>

<div><h2>Tasks: </h2></div>

<div>
<ul>
	<li th:each="task : ${tasks}"> 
	<div>
		<a th:text="${task.name} " th:href="@{'/taskPage' + '/' + ${task.id}}">taskName</a> <!-- visibleTask are going to be here-->
		<div>
  		<button class="open-button" onclick="openForm('comment')">Add Comment</button>
		
		<div class="form-popup" id="comment">
  		<form th:action="@{'/addComment' + '/' + ${task.id}}" method = "POST" class="form-container">
    		<label for="commentText"><b>Post a Comment</b></label>
    		<input type="text" placeholder="Write a Comment" th:name="comment" required>

    		<button type="submit" class="btn">Post</button>
    		<button type="button" class="btn cancel" onclick="closeForm('comment')">Close</button>
  		</form>	
  		</div>
  		</div>
		
		
		<ul th:if="${task.comments}">
  			<li th:each="comment : ${task.comments}" style="margin-top:100px">
  			<div th:text="${comment.userCred.username}"></div>
  			<div th:text="${comment.text}"></div>
  			<div th:text="${comment.creationTime}"></div>
  			
  			<form th:if="${comment.userCred.user} == ${currentUser}" th:action="@{'/deleteComment' + '/' + ${comment.id}}" method="GET">
			<input type="submit" value="delete">
			</form>
  			
  			</li>
  		</ul>
  	</div>
	</li>
</ul>
</div>

<div style="margin-top:100px">
<a th:href="@{/profile}">Back to home</a>
</div>

<script>
function openForm(form) {
  document.getElementById(form).style.display = "block";
}

function closeForm(form) {
  document.getElementById(form).style.display = "none";
}

</script>
</body>

</html>