<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>



<body class="body">
<div th:insert="fragments/base.html :: sidebar"></div>


<div class="wrapper">
<div class="gridElem" th:each="project : ${visibleProjects}">
	<div class="card text-left ">
		<div  class="card-header">
			<a class ="titleProject  w3-hover-none" 
			th:href="@{'/visibleProjectPage' + '/' + ${project.id}}"
			th:text="|${project.name}">Serra Automatica</a>
		</div>
  
	<div id="boxDesc"class="card-body">
		<p id = "desc" class="card-text" 
		th:text="${project.description}">Progetto per una serra realizzata con IoT </p>
		<br>
	</div>
	</div>
</div>
</div>
</body>