<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Visible Projects</title>
	<link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/profileCSS.css}">
</head>

<style>
#dropDownMembers {
	width:170px;
}
</style>

<body class="body">
	<div th:insert="fragments/base.html :: sidebar"></div>
	
	<header style="margin-left:18%">
	<h1 class="pageTitle" >Visible Projects</h1>
	</header>

		<div class="wrapper">
		<div  th:each="project : ${visibleProjects}">
			<div id="gridElem" class="card text-left ">
				<div  id="cardHeader" class="card-header">
					<a class ="titleProject  w3-hover-none" 
					th:href="@{'/visibleProjectPage' + '/' + ${project.id}}"
					th:text="${project.name}"></a>
					
					<div class="btn w3-right" > 
					<a class="btn btn-danger w3-black w3-hover-shadow" th:href="@{'/leaveProject' + '/' + ${project.id}}"> Leave</a>
					</div>
					
					<div class="nav nav-pills card-header-pills">
					<div> You have 3 task assigned</div>
					</div>
				</div>
  
				<div id="cardBody"class="card-body">
					<p id = "desc" class="card-text" 
					th:text="${project.description}"></p>
					<br>
					
						<div class="w3-dropdown-hover w3-right"> 
					<a class="nav-link w3-sand w3-small w3-hover-shadow "> <i class="fa fa-users"></i> Members</a>
						<div id="dropDownMembers" class="w3-dropdown-content w3-bar-block" >
						<div th:each="member : ${project.members}">
							<div class="w3-bar w3-white">
							<div class="w3-bar-item">
							<span th:text="|${member.name} ${member.surname}|"></span>
							</div>
							</div>
						</div>
   						 </div>
					</div>
					
				</div>
			</div>
		</div>
		</div>
</body>
</html>